---
const items = [
  {
    title: "PREPÁRATE\nPARA RIQUEZA",
    description: "Lorem ipsum...",
    image: "/COFRE.png",
  },
  {
    title: "LA LLAVE MAESTRA\nDE LA RIQUEZA",
    description: "Lorem ipsum...",
    image: "/LLAVE.png",
  },
  {
    title: "LA SANACIÓN\nDE LA RIQUEZA",
    description: "Lorem ipsum...",
    image: "/SANACION.png",
  },
  {
    title: "EL SECRETO DE LA\nRIQUEZA",
    description: "Lorem ipsum...",
    image: "/SECRETO.png",
  },
  {
    title: "BONO ESPECIAL",
    description: "Lorem ipsum...",
    image: "/BONO.png",
  },
];
---

<div class="carousel-container bg rounded mt-5 mb-5">
  <div class="carousel-track space-x-4">
    {items.concat(items).map((item, index) => (
      <div class="carousel-item flex flex-row border-gradient p-8">
        <img src={item.image} alt={item.title} class="h-[200px] w-[200px] rounded-full object-cover" />
        <div class="flex flex-col justify-center text-center">
            <h1 class="text-4xl text-[#ffca00]">{item.title}</h1>
            <p class="text-xl">{item.description}</p>
        </div>
      </div>
    ))}
  </div>
</div>

<style>
  .border-gradient {
    position: relative;
    border-radius: 150px;
  }

  .border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 8px;
    background: linear-gradient(45deg, #513a01, #ffbb00);
    -webkit-mask:
      linear-gradient(white, white) content-box,
      linear-gradient(white, white);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }


  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
  }

  .carousel-track {
    display: flex;
    width: calc(200%);
    animation: scroll 30s linear infinite; 
  }

  .carousel-item {
    flex-shrink: 0;
    width: 20%;
    /* padding: 0 10px; */
  }

  .carousel-item img {
    /* width: 50%; */
    height: auto;
    display: block;
  }


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>