<div class="rounded bg p-4 text-xl mb-5">
    <p class="text-center disclaimer-text">
        DISCLAIMER: Esta página web no es de Facebook Inc. Facebook® Meta® es una marca registrada de Facebook, ahora Meta
        Este curso de mentoría sobre transformación vital y éxito económico se ofrece como parte de un programa de educación no formal. El contenido se basa en la experiencia personal y formación de Carlos H. Ocampo y/o Sarah Infinity Holdings LLC, y no constituye un título oficial ni una certificación profesional reconocida.
        Al participar en este curso reconoces y aceptas que:
        <br>
        <br>
        <span class="disclaimer-item">1. Los resultados pueden variar: El éxito económico y la transformación personal dependen de múltiples factores individuales (tu capacidad, tu disciplina, tu mentalidad…). No se garantizan resultados específicos ni se promete un incremento en los ingresos.</span>
        <br>
        <span class="disclaimer-item">2. Carácter informativo: El contenido del curso es meramente informativo y contribuye al desarrollo integral de los ciudadanos, así como a la formación en valores. No sustituye el asesoramiento profesional en materia financiera, legal, psicológica o de cualquier otra índole.</span>
        <br>
        <span class="disclaimer-item">3. Responsabilidad personal: tú eres el único responsable de tus decisiones y acciones basadas en la información proporcionada en este curso. Carlos H. Ocampo y/o Sarah Infinity Holdings LLC y los organizadores no asumen responsabilidad por las consecuencias derivadas de la aplicación de los conocimientos impartidos. Los resultados que puedas obtener dependerán exclusivamente de todas las ganas que pongas y de seguir la metodología que te enseñaremos y con la cual cientos de estudiantes de todo el mundo han conseguido resultados. Todos los testimonios ofrecidos en el mismo, tanto por Carlos H. Ocampo y/o Sarah Infinity Holdings LLC, como por terceras personas son reales y se basan en la experiencia de personas que han realizado el curso.</span>
        <br>
        <span class="disclaimer-item">4. No es asesoramiento financiero: Este curso no constituye asesoramiento financiero regulado. Para decisiones de inversión o financieras importantes, se recomienda consultar a un profesional cualificado y autorizado.</span>
        <br>
        <span class="disclaimer-item">5. Experiencia subjetiva: Las estrategias y métodos presentados se basan en la experiencia personal de Carlos H. Ocampo y/o Sarah Infinity Holdings LLC y pueden no ser universalmente aplicables.</span>
        <br>
        <span class="disclaimer-item">6. Protección de contenidos: El material del curso está protegido por derechos de autor y no puede ser reproducido, distribuido o utilizado con fines comerciales sin autorización expresa. Es por ello que está prohibida tanto la captación (de imágenes y/o audio) de los módulos ó materiales del curso, así como su posterior distribución a terceros, incluso cuando no se haga con ánimo de lucro.</span>
        <br>
        <span class="disclaimer-item">7. Salud mental: Si estás experimentando problemas de salud mental, este curso no sustituye la atención médica profesional. Busca ayuda de un profesional de la salud cualificado si es necesario, porque no ofrezco servicios psicológicos, ni de salud, ni derivados.</span>
        <br>
        <span class="disclaimer-item">8. Compromiso de tiempo y esfuerzo: Los resultados dependerán de tu dedicación y aplicación de los conceptos aprendidos. No se garantiza el éxito sin esfuerzo personal.</span>
        <br>
        <span class="disclaimer-item">9. Política de reembolso: Una vez iniciado el acceso al contenido digital, se tendrá una garantía de siete (7) días para realizar reembolso.</span>
        <br>
        Al inscribirse en este curso confirmas haber leído, entendido y aceptado este disclaimer de responsabilidad en su totalidad.
    </p>
</div>

<style>
  .disclaimer-text {
    text-align: center;
  }

  .disclaimer-item {
    text-align: left;
    display: block;
    margin-left: 1em;
  }
</style>