<div class="rounded bg p-4 text-2xl mb-5">
    <p class="text-center"> DISCLAIMER: Esta página web no es de Facebook Inc. Facebook® Meta® es una marca registrada de Facebook, ahora Meta.
        <br>
        <br>
        IMPORTANTE sobre las GANANCIAS y ADVERTENCIAS LEGALES
        <br>
        <br>
        Los ingresos y ganancias hechos por Carlos representan sólo una posible declaración aspiracional de sus potenciales ganancias. Esto no garantiza resultados para ti, pues lógicamente cada persona es un mundo y debe aplicarlo en sus circunstancias. Tu capacidad de aprender, tu disciplina, tu mentalidad, etc., influirán en tus resultados y por eso pueden variar.Mira nuestros términos y condiciones para saber más.
        <br>
        <br>
        Estos son productos y servicios derivados de la vivencia, formación y metodología adquirida e implementada por Carlos Ocampo. No son servicios psicológicos, ni de salud ni derivados. Los resultados que puedas obtener dependerán exclusivamente de todas las ganas que pondrás y de seguir la metodología que te enseñaremos y con la cual miles de estudiantes de todo el mundo han conseguido resultados.</p>
</div>