---
const sales = [
  {
    title: "PREPÁRATE PARA LA RIQUEZA",
    description: "$77",
    image: "https://res.cloudinary.com/djvdoxzol/image/upload/v1733373671/COFRE_gwf7ci.png",
  },
  {
    title: "LA LLAVE MAESTRA DE LA RIQUEZA",
    description: "$397",
    image: "https://res.cloudinary.com/djvdoxzol/image/upload/v1733373674/LLAVE_ecd5eh.png",
  },
  {
    title: "EL SECRETO DE LA RIQUEZA",
    description: "$297",
    image: "https://res.cloudinary.com/djvdoxzol/image/upload/v1733373680/SECRETO_e5tixw.png",
  },
  {
    title: "SANACIÓN PARA LA RIQUEZA",
    description: "$47",
    image: "https://res.cloudinary.com/djvdoxzol/image/upload/v1733373675/SANACION_ktfcrr.png",
  },
  {
    title: "BONO\nAfirmaciones positivas para Generar Riqueza",
    description: "$67",
    image: "https://res.cloudinary.com/djvdoxzol/image/upload/v1733373671/BONO_mcmu3r.png",
  },
];
---

<main
  class="relative w-full mb-5 w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50vw]">
  <div class="relative">
    <div class="absolute inset-0 flex flex-col">
      <div
        class="min-h-[33vh] bg-[url('https://res.cloudinary.com/djvdoxzol/image/upload/v1733373681/m3_wea7qy.png')] bg-cover bg-center lg:bg-center flex-grow">
      </div>
      <div
        class="min-h-[33vh] bg-[url('https://res.cloudinary.com/djvdoxzol/image/upload/v1733373680/m2_iacdmh.png')] bg-cover bg-center flex-grow">
      </div>
      <div
        class="min-h-[33vh] bg-[url('https://res.cloudinary.com/djvdoxzol/image/upload/v1733373681/m3_wea7qy.png')] bg-cover bg-center flex-grow">
      </div>
    </div>
    <!-- Contenido superpuesto -->
    <div
      class="relative z-10 flex flex-col items-center justify-center text-white overflow-y-hidden overflow-x-hidden p-10">
      <h1
        class="text-5xl lg:text-[130px] text-center font-bold mb-4 tracking-tight leading-relaxed fade-up">
        LO QUE OBTENDRÁS
      </h1>
      {
        sales.map((sale) => (
          <div class="relative flex flex-col lg:flex-row items-center mt-5 gap-4 p-10 rounded-[60px] border-gradient w-full w-[300px] lg:w-[600px] fade-up">
            <img
              src={sale.image}
              alt={sale.title}
              class="w-[200px] h-[200px] rounded-full"
            />
            <div class="flex text-3xl lg:text-4xl text-center font-bold flex-col">
              <h2 class="whitespace-pre-line">{sale.title}</h2>
              <p class="text-center text-5xl lg:text-6xl text-[#ffca00]">
                {sale.description} <span class="text-[30px] lg:text-[40px]">USD</span>
              </p>
            </div>
          </div>
        ))
      }
      <h1
        class="text-4xl lg:text-[80px] leading-snug mt-[40px] text-center font-bold fade-up">
        VALOR TOTAL DE LA GUÍA CUÁNTICA PARA GENERAR RIQUEZA
      </h1>
      <div class="flex items-center justify-center mt-5 fade-up relative">
        <h1 class="text-6xl lg:text-[100px] font-bold text-[#ffca00]">
          $885
        </h1>
        <h1 class="text-4xl lg:text-[70px] font-bold text-[#ffca00] ml-2">
          USD
        </h1>
        <div class="x-line"></div>
      </div>
      <div
        class="bgd text-4xl lg:text-[70px] font-bold border-gradient text-center mt-5 fade-up">
        <h1 class="m-10 leading-none">
          OFERTA ESPECIAL:
          <br />
          (PAGO ÚNICO)
          <br />
          <span class="border-text text-[#ffca00] text-[100px]">$107 <span class="text-[70px]">USD</span></span>
        </h1>
      </div>
      <button class="mt-[80px] fade-up">
        <a
          href="https://pay.hotmart.com/J96611143M"
          target="_blank"
          class="p-4 text-2xl lg:text-[40px] font-bold bg-gradient-to-b from-[#ffbb00] to-[#513a01] rounded-[25px] text-center mt-5"
          >COMPRAR AHORA</a
        >
      </button>
    </div>
  </div>
</main>

<style>
  /* .border-text {
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  } */

  .x-line::before,
  .x-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: #8a4f01;
    top: 50%;
    left: 0;
    transform-origin: center;
  }

  .x-line::before {
    transform: rotate(10deg);
  }

  .x-line::after {
    transform: rotate(-10deg);
  }

  .no-line-through {
    text-decoration: none !important;
  }

  .bgd {
    background: linear-gradient(45deg, #513a01, #ffbb00);
  }

  .border-gradient {
    position: relative;
    border-radius: 60px;
  }

  .border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 8px;
    background: linear-gradient(45deg, #513a01, #ffbb00);
    -webkit-mask:
      linear-gradient(white, white) content-box,
      linear-gradient(white, white);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  @media (max-width: 720px) {

    .border-gradient::before {
      padding: 4px;
    }

    .x-line::before {
      height: 5px;
    }

    .x-line::after {
      height: 5px;
    }
  }
</style>
