---
import effect from 'assets/effect.png';
import { Picture } from "astro:assets";
---

<div class="relative flex justify-center items-center h-auto p-20 rounded bg bg-center">
  <Picture
    src={effect}
    alt="divider"
    class="w-full h-full absolute inset-0 object-fill"
  />
  <div class="text-center text-3xl md:text-6xl lg:text-7xl font-bold w-[900px] relative z-10">
    <h1 class="text-[#ffb700] mb-10 fade-up">GUÍA CUÁNTICA:</h1>
    <p class="fade-up text-black">Conecta con tu <span class="text-[#ffb700]">potencial ilimitado</span> y transforma tu realidad financiera</p>
  </div>
</div>