---
---

<main class="main_banner w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-full">
  <div class="flex justify-center items-center h-full">
    <div class="w-full lg:w-[1024px] h-[512px] p-5 rounded-3xl bg-gradient-to-b from-[#4d0230] to-[#220028] flex justify-center">
      <div class="aspect-w-16 aspect-h-9 w-full">
        <iframe
          src="https://www.youtube.com/embed/dQw4w9WgXcQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="rounded-lg shadow-lg w-full h-full">
        </iframe>
      </div>
    </div>
  </div>
</main>

<style>
  .main_banner {
    background-image: url("https://res.cloudinary.com/dsfgyzics/image/upload/v1732997627/Mesa_de_trabajo_1_v5xapg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
</style>