---
---

<main class="main_banner w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-full">
  <div class="flex flex-col justify-center items-center h-full fade-up">
    <div class="flex flex-col items-center lg:items-start lg:flex-row text-center text-white mb-5 space-x-4">
      <img src="/favicon.png" alt="logo" class="w-[150px] h-[140px] rounded-full" />
      <h1 class="flex items-center text-3xl lg:text-5xl font-bold h-full text-center">El Gran Secreto para Atraer Dinero y Generar Riqueza <br> ¡ DESCÚBRELO HOY ! </br></h1>
    </div>
    <div class="w-full lg:w-[1024px] h-[512px] p-2 lg:p-4 rounded-3xl bg-gradient-to-b from-[#4d0230] to-[#220028] flex justify-center">
      <div class="aspect-w-16 aspect-h-9 w-full">
        <iframe
          src="https://youtu.be/wG4JJ-aLiLU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="rounded-lg shadow-lg w-full h-full">
        </iframe>
      </div>
    </div>
  </div>
</main>

<style>
  .main_banner {
    background-image: url("/bg.png");
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
    height: 100vh;
  }
</style>